body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#display-score {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#choices {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}